{% comment %}
Position – Venue   (shorthand)
{% endcomment %}

{% for y in venue.years %}
<div class="cv-left-date">
    {{ y.year }}
</div>

<div>
    {% if venue.position %}
    <span class="cv-role">{{ venue.position }}</span>&nbsp;–&nbsp;
    {% endif %}

    {% if y.url %}
    <a href="{{ y.url }}" style="color:#007bff !important;text-decoration:none;">
        {{ venue.venue }}
    </a>
    {% else %}
    {{ venue.venue }}
    {% endif %}

    {% if venue.venue-shorthand %}
    &nbsp;(<b>{{ venue.venue-shorthand }}</b>)
    {% endif %}
</div>

<div class="cv-spacer"></div>
{% endfor %}
